@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 0;
}



a {
    color: white;
    text-decoration: none;
}

.header {
    display: flex;
    flex: 1;
    align-items: end;
    margin: 24px 0;
}

.logo {
    font-size: 24px;
    color: #f9f8f8;
    font-weight: 900;
}

.links {
    display: flex;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    gap: 24px;
    color: #e5e7eb;
}

.awesome-section {
    display: flex;
    margin: 100px 0;
    gap: 36px;
}

.awesome-title {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}
.awesome-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.awesome-left, .temp-img {
    flex: 1;
    fLex-basis: 0;
}

.temp-img {
    display: flex;
    background-color: #525a68;
    color: white;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 9px 36px;
    margin: 12px 0;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 8px;
}

.info-title {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #1f2937;
    font-weight: 900;
    font-size: 48px;
    padding: 50px 0;
}

.info-container {
    display: flex;
    background-color: white;
    gap: 24px;
    justify-content: center;
}

.info-tile {
    max-width: 200px;
}

.info-img {
    border: #3882f6;
    border-style: solid;
    border-radius: 8px;
    min-height: 200px;
    flex: 0;
}

.info-text {
    text-align: center;
    margin-top: 20px;
}


.header, .awesome-section, .info-container {
    padding: 0 10vw;  
}