@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, serif;
    background-color: #1f2937;
    margin: 0;
    align-items: center;
    
}

.header {
    display: flex;
    align-items: end;
    margin: 24px 0;
    width: 90%;
}

.logo {
    font-size: 24px;
    color: #f9f8f8;
    font-weight: 900;
}

.links {
    display: flex;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    gap: 24px;
    color: #e5e7eb;
}

a {
    color: white;
    text-decoration: none;
}

.awesome-container {
    display: flex;
    margin: 100px 0;
    gap: 36px;

}

.awesome-title {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}
.awesome-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.awesome-left, .temp-img {
    flex: 1;
    fLex-basis: 0;
}

.temp-img {
    display: flex;
    background-color: #525a68;
    color: white;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: #3882f6;
    color: white;
    padding: 9px 36px;
    margin: 12px 0;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 8px;
}

.info-title { 
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-weight: 900;
    font-size: 48px;
    padding: 50px 0;
}

.info-container {
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.info-tile {
    max-width: 150px;
    padding-bottom: 65px;
}

.info-img {
    border: #3882f6;
    border-style: solid;
    border-radius: 8px;
    min-height: 150px;
    flex: 0;
}

.info-text {
    text-align: center;
    margin-top: 20px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    margin: 72px 100px;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author{
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.signup-container {
    display: flex;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    margin: 100px 100px;
    gap: 16px;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}

.signup-left {
    padding: 40px 0;
}

.signup-bold {
    font-weight: bold;
    font-size: large;
}

.signup-subtext {
    font-weight: 300;
}
.bordered {
    border: white 2px solid;

}

/* **************** */
.header, .awesome-container, .info-container, .quote-container, .signup-container {
    max-width: 1000px;
    padding: 0 50px;
}

.background {
    display: flex;
    width: 100%;
    justify-content: center;
}

.white {
    background-color: white;
}

.gray {
    background-color: #e5e7eb;
}